*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
}

#container
{
    border-color: red;
    width: 60%;
    margin:4em auto;
    padding: 1em;
    border-radius: 0.8em;
}

#banner, #footer
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}

#link
{
    text-align: center;
}

div
{
    border: 2px solid black;
    margin-bottom: 0.5em;
    border-radius: 0.1em;

}

ul
{
    list-style-type: none;
    width: 100%;
    border:0px solid green;
    margin: 0em auto;
    background-color: #dddddd;
}

a
{
    text-decoration: none;
    color: #000;
    /*padding: 8px 16px;  */
    border: 0px solid pink;
}



a:active 
{
    background-color: #4CAF50;
    color: white;
}

a:hover
{
    background-color: #555;
    color: white;
}



li
{
    border: 0px solid red;
    padding: 2em;
    display: inline;
}
